body {
  color: var(--white);
}

#highScoreList {
  list-style: none;
  margin-bottom: 3rem;
  text-align: center;
  font-weight: 700;
  text-shadow: 4px 4px 0 var(--greytransp);
}

.high-score {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
